/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center; /* centers everything horizontally and vertically */
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
